
@{
    ViewBag.Title = "Detalhe do Produto";
}

<h2>Detalhe Produto</h2>
<div class="input-group">
    <span class="input-group-addon">@@</span>
    <input type="text" class="form-control" name="Nome" value="@ViewBag.Produto.Nome" disabled placeholder="Nome do Produto" /><br />
</div>
<br />
<div class="input-group">
    <span class="input-group-addon">R$</span>
    <input type="text" class="form-control" name="Preco" value="@ViewBag.Produto.Preco" disabled placeholder="Preço" /><br />
</div>
<br />

<a href="/Home/RegistrarCompra?Id=@ViewBag.Produto.ProdutoId" class="btn btn-primary">Confirmar a Compra</a>