@{
    ViewBag.Title = "Lista de Produtos";
}

<div class="jumbotron">
    <h1>Lista de Produtos</h1>
    <a class="btn btn-primary" href="/Home/AdicionarProduto">
        Adicionar Produto
    </a>
</div>

<div class="row">
    @if (ViewBag.Dados.Count >= 1)
    {
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ViewBag.Dados)
                {
                    <tr>
                        <td>@p.ProdutoId</td>
                        <td>@p.Nome</td>
                        <td>R$ @p.Preco</td>
                        <td>
                            <a href="/Home/DetalheProduto?Id=@p.ProdutoId" class="btn btn-success">Efetuar Compra</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            Todos os disponíveis já foram vendidos
        </div>
    }
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->